= form_for(@party) do |f|
  - if @party.errors.any?
    #error_explanation
      %h2
        = pluralize(@party.errors.count, "error")
        prohibited this party from being saved:
      %ul
        - @party.errors.full_messages.each do |msg|
          %li= msg
  .field.name
    = f.label :name
    = f.text_field :name
  .field.members
    = f.label :member_tokens
    = f.text_field :member_tokens, "data-pre" => @party.members.map(&:attributes).to_json
  .actions
    = f.submit
