= form_for(@party) do |f|
  - if @party.errors.any?
    #error_explanation
      %h2
        = pluralize(@party.errors.count, "error")
        prohibited this party from being saved:
      %ul
        - @party.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :description
    %br/
    = f.text_area :description
  .field
    = f.label :member_tokens
    %br/
    = f.text_field :member_tokens, "data-pre" => @party.members.map(&:attributes).to_json
  .field
    = f.label :end_at
    %br/
    = f.time_select :end_at, :minute_step => 15
  .actions
    = f.submit
