- content_for :header do
  .header
    %h1= link_to 'パーティ一覧', "/" 

.parties
  - @parties.each do |party|
    .party
      %h2.name
        =link_to party do
          = party.name
      .description
        = party.description
      .end_at
        = party.end_at.to_date.to_s(:db)
        = party.end_at.to_s(:time)
      .members
        %ul
          - party.members.each do |member|
            %li
              %a{:href => ""}
                = image_tag member.image, :alt => member.name
      .actions
        %ul
          %li.show= link_to 'Show', party
          - if user_signed_in? && current_user == party.user
            %li.edit= link_to 'Edit', edit_party_path(party)
            %li.delete= link_to 'Destroy', party, confirm: 'Are you sure?', method: :delete

= link_to 'New Party', new_party_path
