:javascript
  setTimeout(timer, 1000);
  function timer() {
    var t = new Date();
    var h = (t.getHours() >= 10) ? t.getHours() : "0" + t.getHours();
    var m = (t.getMinutes() >= 10) ? t.getMinutes() : "0" + t.getMinutes();
    var s = (t.getSeconds() >= 10) ? t.getSeconds() : "0" + t.getSeconds();
    var now = h + ":" + m + ":" + s;
    $(".now").html(now)
    $(".remain").html("20:00")
    setTimeout(timer, 1000);
  }

- content_for :header do
  - if notice
    #notice
      .content
        = notice
  .header
    %h1= link_to @party.name, @party
    %nav.members
      %ul
        %li.all
          =link_to "all", @party
        - @party.members.each do |member|
          = content_tag_for :li, member do
            %a{:href => ""}
              = image_tag member.image ? member.image : "dummy.png"
    .times
      .now
      .remain
        = @party.end_at.to_date.to_s(:db)
      .leave
        %a{:href => ""} 退席

.members
  %table
    %tbody
      %tr
        - @party.members.each do |member|
          = content_tag_for :td, member do
            .member
              .header
                %h1.icon
                  %a{:href => ""}
                    = image_tag member.image ? member.image : "dummy.png"
                .information
                  %ul
                    %li.name
                      %a{:href => ""}
                        = member.name
                    %li.state
                      - join = member.joins.find_by_party_id(@party.id)
                      = best_in_place join, :state, type: :select, collection: Join::STATE
              .body
                .current
                  .label
                    %h2 Current
                  .doing
                    %ul
                      - task = member.tasks.current(@party.id).first
                      = render task if task
                  /
                    .activities
                      .add
                        %form{:name => "form1"}
                          %textarea#content.mceEditor{:cols => "15", :name => "content", :rows => "3", :tabindex => "2"}
                          %input#publish{:name => "publish", :type => "submit", :value => "POST"}
                      %ul
                        %li
                          .icon
                            %a{:href => ""}
                              %img.avatar.size128{:alt => "machida", :src => "https://si0.twimg.com/profile_images/525575524/14424182_2338889845_reasonably_small.jpg"}/
                          %p お仕事がんばってます。
                  .backlog
                    .label
                      %h2 Backlog
                    .add
                      - if user_signed_in? && current_user == member
                        %a{:href => ""} new task
                        = form_for [@party, member.tasks.build], :remote => true do |f|
                          = f.text_area :content, :rows => 3, :cols => 30
                          = f.submit
                    %ul
                      = render member.tasks.backlog(@party.id)
                    
                  .done
                    .label
                      %h2 Done

                    %ul
                      = render member.tasks.done(@party.id)
