:javascript
  setTimeout(timer, 1000);
  function timer() {
    var t = new Date();
    var h = t.getHours() + ":" + t.getMinutes() + ":" + t.getSeconds();
    console.log(h);
    $(".now").html(h)
    $(".remain").html("20:00")
    setTimeout(timer, 1000);
  }
- content_for :header do
  - if notice
    #notice
      .content
        = notice
  .header
    %h1= link_to @party.name, @party_path
    %nav.members
      %ul
        %li.all
          =link_to "all", @party_path
        - @party.users.each do |user|
          = content_tag_for :li, user do
            %a{:href => ""}
              = image_tag user.image ? user.image : "dummy.png"
    .times
      .now 10:00
      .remain
        = @party.end_at.to_date.to_s(:db)
      .leave
        %a{:href => ""} 退席

.members
  %table
    %tbody
      %tr
        - @party.users.each do |user|
          = content_tag_for :td, user do
            .member
              .header
                %h1.icon
                  %a{:href => ""}
                    = image_tag user.image ? user.image : "dummy.png"
                .information
                  %ul
                    %li.name
                      %a{:href => ""}
                        = user.name
                    %li.state
                      作業中
                    %li.selectstate
                      - join = user.joins.find_by_party_id(@party.id)
                      = form_for join do |f|
                        = f.select :state, Join::STATE
                        = f.submit
              .body
                .current
                  .label
                    %h2 Current
                  .doing
                    - user.tasks.current(@party.id).each do |task|
                      = div_for task do
                        %p= task.content
                        .actions
                          %ul
                            %li= link_to "hold", hold_party_task_path(@party, task)
                            %li= link_to "finish", finish_party_task_path(@party, task)
                          %p.help
                            %a{:href => ""} HELP
                        
                  .activities
                    .add
                      %form{:name => "form1"}
                        %textarea#content.mceEditor{:cols => "15", :name => "content", :rows => "3", :tabindex => "2"}
                        %input#publish{:name => "publish", :type => "submit", :value => "POST"}
                    %ul
                      %li
                        .icon
                          %a{:href => ""}
                            %img.avatar.size128{:alt => "machida", :src => "https://si0.twimg.com/profile_images/525575524/14424182_2338889845_reasonably_small.jpg"}/
                        %p お仕事がんばってます。
                  .footer
                    .backlog
                      .label
                        %h2 Backlog
                      .add
                        - if user.id == current_user.id
                          = form_for [@party, user.tasks.build] do |f|
                            = f.text_area :content, :rows => 3, :cols => 30
                            = f.submit
                      %ul
                        - user.tasks.backlog(@party.id).each do |task|
                          = content_tag_for :li, task do
                            %p= task.content
                            %p= link_to "start", start_party_task_path(@party, task)
                      
                    .done
                      .label
                        %h2 Done
                      %ul
                        - user.tasks.done(@party.id).each do |task|
                          = content_tag_for :li, task do
                            %p= task.content
