<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @party.name %>
</p>

<p>
  <b>Description:</b>
  <%= @party.description %>
</p>

<p>
  <b>End at:</b>
  <%= @party.end_at %>
</p>

<hr />

<p>
  <b>Member:</b>
  <% @party.users.each do |user| %>
    <%= div_for user do %>
<h1><%= user.name %></h1>
<%= image_tag user.image %>

<div id="current">
<h2>current</h2>
<% user.tasks.current(@party.id).each do |task| %>
  <%= div_for task do %>
    <%= task.content %>
    <%= link_to "hold", hold_party_task_path(@party, task) %>
    <%= link_to "finish", finish_party_task_path(@party, task) %>
  <% end %>
<% end %>
</div>

<% if user.id == current_user.id %>
      <%= form_for [@party, user.tasks.build] do |f| -%>
        <%= f.text_area :content, :rows => 3, :cols => 30 %>
        <%= f.submit %>
      <% end -%>
<% end %>

<div id="backlog">
<h2>backlog</h2>
<% user.tasks.backlog(@party.id).each do |task| %>
  <%= div_for task do %>
    <%= task.content %>
    <%= link_to "start", start_party_task_path(@party, task) %>
  <% end %>
<% end %>
</div>

<div id="done">
<h2>done</h2>
<% user.tasks.done(@party.id).each do |task| %>
  <%= div_for task do %>
    <%= task.content %>
  <% end %>
<% end %>
</div>

    <% end %>
  <% end %>
  </ul>
</p>



<%= link_to 'Edit', edit_party_path(@party) %> |
<%= link_to 'Back', parties_path %>
