= content_tag_for :li, task, :class => "task" do
  %p
    = task.content
    - if task.state == "done"
      .times
        %ul
          %li.working
            working time
            = distance_of_time_in_words(task.started_at, task.finished_at)
          %li.finish
            finish time
            = task.finished_at.to_s(:time)
  - case task.state
  - when "current"
    - if user_signed_in? && current_user == task.user
      .actions
        %ul
          %li.hold= link_to "hold", hold_party_task_path(@party, task), :remote => true
          %li.finish= link_to "finish", finish_party_task_path(@party, task), :remote => true
        %p.help
          %a{:href => ""} HELP
  - when "backlog"
    - if user_signed_in? && current_user == task.user
      %p.start= link_to "start", start_party_task_path(@party, task), :remote => true