= content_tag_for :li, task, :class => "task" do
  - if user_signed_in?
    .comments
      .close
        閉じる
      .theme
        = nl2br task.content
      %ul
        %li.comment= render task.comments
      .add
        = form_tag "/comments", :remote => true do
          = hidden_field_tag :task_id, task.id
          = text_area_tag :content, nil, :rows => 3, :cols => 15, :id => "new_comment_#{dom_id(task)}"
          = submit_tag "new comment"
  %p
    %span.comments
      0
    = nl2br task.content

  - if task.state == "done"
    .times
      %span.working
        = distance_of_time_in_words(task.started_at, task.finished_at)
      %span.finish
        = task.finished_at.to_s(:time)

  - if user_signed_in? && current_user == task.user
    .actions
      %ul
        - case task.state
        - when "current"
          %li.hold= link_to "hold", hold_party_task_path(@party, task), :remote => true
          %li.finish= link_to "finish", finish_party_task_path(@party, task), :remote => true
        - when "backlog"
          %li.start= link_to "start", start_party_task_path(@party, task), :remote => true
          %li.delete= link_to "delete", party_task_path(@party, task), :method => :delete, :remote => true
        - when "done"
          %li.redo= link_to "redo", redo_party_task_path(@party, task), :remote => true
