<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @task.user_id %>
</p>

<p>
  <b>Content:</b>
  <%= @task.content %>
</p>

<p>
  <b>State:</b>
  <%= @task.state %>
</p>

<p>
  <b>Start time:</b>
  <%= @task.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @task.end_time %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
