%p#notice= notice
%p
  %b User:
  = @task.user_id
%p
  %b Content:
  = @task.content
%p
  %b State:
  = @task.state
%p
  %b Start time:
  = @task.start_time
%p
  %b End time:
  = @task.end_time
= link_to 'Edit', edit_task_path(@task)
|
\#{link_to 'Back', tasks_path}
