<h1>Listing joins</h1>

<table>
  <tr>
    <th>User</th>
    <th>Party</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @joins.each do |join| %>
  <tr>
    <td><%= join.user_id %></td>
    <td><%= join.party_id %></td>
    <td><%= link_to 'Show', join %></td>
    <td><%= link_to 'Edit', edit_join_path(join) %></td>
    <td><%= link_to 'Destroy', join, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Join', new_join_path %>
