<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @join.user_id %>
</p>

<p>
  <b>Party:</b>
  <%= @join.party_id %>
</p>


<%= link_to 'Edit', edit_join_path(@join) %> |
<%= link_to 'Back', joins_path %>
